@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --color-brand-red: #EE3F2C;
}

@layer utilities {
  .clip-corner {
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px));
  }
}
